{% if title is defined and title %}
    {% set class = 'h2' %}
    {% if class_header is defined and class_header %}
        {% set class = class_header %}
    {% endif %}
    {% if class_header_alignment is defined and class_header_alignment %}
        {% set class = class ~ ' text-' ~ class_header_alignment %}
    {% endif %}

    <div class="title">
        {{ include('includes/elements/overline.html.twig') }}
        {% if position is defined and position is same as(1) %}
            <h1 class="{{ class }}">
                {{ title }}
            </h1>
        {% elseif position is defined and position is not same as(1) %}
            <h2 class="{{ class }}">
            {{ title }}
            </h2>
        {% else %}
            {# obsolete? #}
             <h3>
                 {{ title }}
             </h3>
        {% endif %}
        {{ include('includes/elements/subtitle.html.twig') }}
    </div>
{% endif %}