{% extends "body.html.twig" %}

{% block content %}
    {% if eventsSettings is not defined %}
        {% set eventsSettings = load_event_settings() %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 pb-3">
                <div class="title">
                    {% set startTimeShort = event.startDate|date('H:i') %}

                    {% if event.endDate %}
                        {% set endTimeShort = event.endDate|date('H:i') %}
                        {% if startTimeShort == "00:00" and endTimeShort == "00:00" %}
                            {% set timeframe = event.startDate|format_datetime('full', 'none', locale=app.request.getLocale()) ~ ' - ' ~ event.endDate|format_datetime('full', 'none', locale=app.request.getLocale()) %}
                        {% else %}
                            {% set timeframe = event.startDate|format_datetime('full', 'short', locale=app.request.getLocale()) ~ ' - ' ~ event.endDate|format_datetime('full', 'short', locale=app.request.getLocale()) %}
                        {% endif %}
                    {% else %}
                        {% if startTimeShort != "00:00" %}
                            {% set timeframe = event.startDate|format_datetime('full', 'short', locale=app.request.getLocale())  %}
                        {% else %}
                            {% set timeframe = event.startDate|format_datetime('full', 'none', locale=app.request.getLocale()) %}
                        {% endif %}
                    {% endif %}
                    {% set timeframe = timeframe ~ ' @ ' ~ event.location.name %}

                    <h1 class="mb-2">{{ event.title }}</h1>
                    {% if event.subtitle %}
                        <h2 class="h3 mb-4">{{ event.subtitle }}</h2>
                    {% endif %}

                    {% if eventsSettings.toggleTags and event.eventExcerpt.tags %}
                        {% set summaryMargin = "my-4" %}
                        {% for tag in event.eventExcerpt.tags %}
                            <span class="badge text-bg-{{ eventsSettings.tagsColor|default('light') }} shadow">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if eventsSettings.toggleCategories and event.eventExcerpt.categories %}
                        {% set summaryMargin = "my-4" %}
                        {% for category in extension.excerpt.categories_named %}
                            <span class="badge text-bg-{{ eventsSettings.categoriesColor|default('light') }} shadow" {% if eventsSettings.categoriesColor|default %}style="background-color:{{ eventsSettings.categoriesColor }}!important{% endif %}">{{ category.translation }}</span>
                        {% endfor %}
                    {% endif %}

                    <h3 class="h4 mb-4">{{ timeframe }}</h3>
                    {% if event.summary %}
                        <p class="mb-4 fw-bold fst-italic">{{ event.summary }}</p>
                    {% endif %}
                </div>

                <div class="content pb-3">
                    {{ event.text|raw }}
                </div>
            </div>
            <div class="col-12 py-3 bg-light text-dark">
                <div class="footer mb-5">

                    {% if event.footer %}
                        {{ event.footer|raw }}
                    {% endif %}

                    {% if event.socialSettings.enableSocialShare %}
                        <div class="social-share">
                            <h3>{{ 'sulu_event.feed.share_event'|trans }}</h3>

                            {% set shareLinks = event_social_shares(event, app.request.locale) %}

                            <div class="share-buttons">
                                {% if 'facebook' in event.socialSettings.socialPlatforms %}
                                    <a href="{{ shareLinks.facebook }}" target="_blank" class="btn btn-facebook">
                                        <i class="fab fa-facebook"></i> Share
                                    </a>
                                {% endif %}

                                {% if 'twitter' in event.socialSettings.socialPlatforms %}
                                    <a href="{{ shareLinks.twitter }}" target="_blank" class="btn btn-twitter">
                                        <i class="fab fa-twitter"></i> Tweet
                                    </a>
                                {% endif %}

                                {# ... other platforms #}
                            </div>
                        </div>

                        {# Social Media Profile Links (Follow us) #}
                        <div class="social-profiles">
                            <h4>{{ 'Follow us'|trans }}</h4>
                            {% if event.socialSettings.facebookUrl %}
                                <a href="{{ event.socialSettings.facebookUrl }}" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            {% endif %}
                            {# ... other profiles #}
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}