{% if link %}
    {% set url = '/' %}

    {% set title = link.title|default(link.provider|humanize) %}
    {% set rel = link.rel|default('follow') %}
    {% set target = link.target|default('_self') %}
    {% set truncateLength = 32 %}

    {% if link.provider == 'external' %}
        {% set url = link.href %}
        {% set title = link.title|default(url) %}
    {% elseif link.provider == 'page' %}
        {% set page = sulu_content_load(link.href) %}
        {% set title = page.content.title %}
        {% set url = page.urls[link.locale] %}
    {% elseif link.provider == 'media' %}
        {% set url = sulu_resolve_media(link.href, link.locale).url %}
    {% elseif link.provider == 'news' %}
        {% set bundleLink = sulu_resolve_news(link.href, link.locale) %}
        {% set truncateLength = 10 %}
    {% elseif link.provider == 'event' %}
        {% set bundleLink = sulu_resolve_event(link.href, link.locale) %}
    {% elseif link.provider == 'abbreviation' %}
        {% set bundleLink = sulu_resolve_abbreviation(link.href, link.locale) %}
    {% endif %}

    {% if bundleLink is defined and bundleLink %}
        {% set url = bundleLink.routePath %}
        {% set title = bundleLink.title %}
    {% endif %}

    {% if link.anchor %}
        {% set url = url ~ link.anchor %}
    {% endif %}

    {% set rel = link.rel|default('follow') %}
    {% set target = link.target|default('_self') %}
    {% set title_truncated = title|striptags|u.truncate(truncateLength, '...')|raw %}

    <p class="mt-3">
        <a href="{{ url }}" target="{{ target }}" rel="{{ rel }}" title="{{ title }}">
            <span>{{ title_truncated }}</span>
        </a>
    </p>
{% endif %}